body{
    background: #606060;
}

.border{
    width: 160px;
    height: 5px;
    background: #1ed760;
    margin: 15px auto;
}

.create-program-title{
    text-align: center;
    color: white;
    padding: 20px 0;
}
