body{
    background: #606060;
}

.border{
    width: 160px;
    height: 5px;
    background: #1ed760;
    margin: 15px auto;
}

.program-title-container{
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 0;
}

.program-exercice-title-container{
    display: flex;
    justify-content: center;
    color:white;
    padding: 20px 0;
}

.program-allexercice-infos-container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.program-exercice-infos-title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    
}

.program-exercice-infos-container{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.program-exercice-infos{
    text-align: center;
    color: white;
    padding: 10px 0;
}

.exercice-infos-container{
    background: #404040;
    padding: 30px 0;
    width: 80%;
    display: flex;
    justify-content: center;
}
.program-exercice-infos-img img{
    width: 150px;
    height: 100px;
}
.program-exercice-infos-img{
    display: flex;
    justify-content: center;
}

.program-infos-container{
    display: flex;
    /* justify-content: center; */
    padding: 20px ;
    background: #404040;
}

.program-infos-img img{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.program-infos-img{
    padding-right: 50px;
}
.program-infos-title{
    color: white;
}
.program-infos h2{
    text-align: center;
}

@media screen and (max-width:900px){
    .program-allexercice-infos-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width:500px){
    .program-allexercice-infos-container {
        display: grid;
        grid-template-columns: 100%;
    }
}
